h1{
    text-align: center;
    border: 2px solid black;
    margin-left: 30%;
    margin-right: 30%;
    background-color: antiquewhite;
}
.red{
    text-align: center;
    border: 2px solid black;
    margin-left: 30%;
    margin-right: 30%;
    background-color: red;
    font-size: 400%;
}
.green{
    text-align: center;
    border: 2px solid black;
    margin-left: 30%;
    margin-right: 30%;
    background-color: green;
    font-size: 400%;
  }
.blue{
    text-align: center;
    border: 2px solid black;
    margin-left: 30%;
    margin-right: 30%;
    background-color: blue;
    font-size: 400%;
}
.yellow{
    text-align: center;
    border: 2px solid black;
    margin-left: 30%;
    margin-right: 30%;
    background-color: yellow;
    font-size: 400%;
}
.violet{
    text-align: center;
    border: 2px solid black;
    margin-left: 30%;
    margin-right: 30%;
    background-color: violet;
    font-size: 400%;
}
.indigo{
    text-align: center;
    border: 2px solid black;
    margin-left: 30%;
    margin-right: 30%;
    background-color: indigo;
    font-size: 400%;
}
.orange{
    text-align: center;
    border: 2px solid black;
    margin-left: 30%;
    margin-right: 30%;
    background-color: orange;
    font-size: 400%;
}
.brown{
    text-align: center;
    border: 2px solid black;
    margin-left: 30%;
    margin-right: 30%;
    background-color: brown;
    font-size: 400%;
}
.black{
    text-align: center;
    border: 2px solid black;
    margin-left: 30%;
    margin-right: 30%;
    background-color: black;
    font-size: 400%;
}
.white{
    text-align: center;
    border: 2px solid black;
    margin-left: 30%;
    margin-right: 30%;
    background-color: white;
    font-size: 400%;
}
.pink{
    text-align: center;
    border: 2px solid black;
    margin-left: 30%;
    margin-right: 30%;
    background-color: pink;
    font-size: 400%;
}
.purple{
    text-align: center;
    border: 2px solid black;
    margin-left: 30%;
    margin-right: 30%;
    background-color: purple;
    font-size: 400%;
}