h1 {
    text-align: center;
    border: 3px solid black;
    border-width: 2px;
    background-color: antiquewhite;
}

.red {
    text-align: center;
    border: 3px;
    float: left;
    width: 30%;
    background-color: red;
    border: 3px solid black;
}

.green {
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
    height: 50px;
    border: 3px solid black;
    width: 30%;
    background-color: green;
    margin-top: 20p
}

.blue {
    text-align: center;
    border: 3px;
    float: right;
    width: 30%;
    background-color: blue;
    border: 3px solid black;
}

.yellow {
    text-align: center;
    border: 3px;
    float: left;
    width: 30%;
    background-color: yellow;
    border: 3px solid black;
    margin-top: 20px;
}

.violet {
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
    height: 50px;
    border: 3px solid black;
    width: 30%;
    background-color: violet;
    margin-top: 20px;
}

.indigo {
    text-align: center;
    border: 3px;
    float: right;
    width: 30%;
    background-color: indigo;
    border: 3px solid black;
    margin-top: 20px;
}

.orange {
    text-align: center;
    border: 3px;
    float: left;
    width: 30%;
    background-color: orange;
    border: 3px solid black;
    margin-top: 20px;
}

.brown {
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
    height: 50px;
    border: 3px solid black;
    width: 30%;
    background-color: brown;
    margin-top: 20px;
}

.black {
    text-align: center;
    border: 3px;
    float: right;
    width: 30%;
    background-color: black;
    border: 3px solid black;
    margin-top: 20px;
    color: white;
}

.white {
    text-align: center;
    border: 3px solid black;
    margin-top: 20px;
    float: left;
    background-color: white;
    width: 30%;
}

.pink {
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
    height: 50px;
    border: 3px solid black;
    width: 30%;
    background-color: pink;
    margin-top: 20px;
}

.purple {
    text-align: center;
    border: 3px;
    float: right;
    width: 30%;
    background-color: purple;
    border: 3px solid black;
    margin-top: 20px;
}